<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>ImageMatching - SK_MIRROR</title>
  <!-- Bootstrap Core CSS -->
  <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body onload="makeImageview()">
  <div class="container">
    <br><br>
    <div class="page-header" id="banner">
            <div class="col-lg-9 col-md-7 col-sm-6">
                <h2>헤어 매칭</h2>
              </div>
      </div>
</div>
  <div class="container">
    <div class="row">
      <div class="text-center col-md-6" style="margin-top:10%" id="touchdiv">
          <form action ="/imageresult" method="post" style="margin:20px" id="startform">
          <button class="btn" type="button" id="start_btn" style="font-size: 30px" onclick="startCount()">정면을 봐주세요<br>촬영 시작 Touch!</button>
          </form>
        </div>
      <div class="text-center col-md-6" style="margin-top:2%; margin-bottom: 2%">
        <div class="text-center"><p style="font-size: 20px" id="hairname">{{ selectedname }}</p></div>
        <div id="imagediv">
          <img id="imgbox"/>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-11 text-right">
        <a href="http://127.0.0.1:8080/imagelist"><h3><i class="fa fa-undo" aria-hidden="true"></i></h3></a>
        </div>
        <div class="col-md-1">
            <a href="http://127.0.0.1:8080/"><h3><i class="fa fa-home" aria-hidden="true"></i></h3></a>
          </div>
    </div>
  </div>

  <!-- jQuery (부트스트랩의 자바스크립트 플러그인을 위해 필요합니다) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script rel="stylesheet" type="text/JavaScript" src="static/bootstrap/js/bootstrap.min.js"></script>
  
  <!-- Custom Script -->
  <script rel="stylesheet" src="/static/js/imageMatching.js"></script>
  <script rel="stylesheet" src="/static/js/fullscreen.js"></script>
</body>
</html>
