<!DOCTYPE html>
<html lang="kr">
  <head>
    <title>Static Files</title>
    <!--
    Flask automatically makes files in the 'static' directory available via
    '/static'.
    -->
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css">
    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body id="page-top">
      <!-- Header -->
      <div class="container">
      <div class="page-header" id="banner">
            <div class="row">
                <div class="col-lg-8 col-md-7 col-sm-6">
                    <h1>Login</h1>
                    <p class="lead">SK_MIRROR - Smart Mirror Project</p>
                  </div>
                  <div class="col-md-4 text-right" style="margin-right:0%">
                    <h1 onclick=history.back();><i class="fa fa-home" aria-hidden="true"></i></h1>
                  </div>
            </div>
          </div>
        </div>
    <!-- jQuery (부트스트랩의 자바스크립트 플러그인을 위해 필요합니다) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script rel="stylesheet" type="text/JavaScript" src="static/bootstrap/js/bootstrap.min.js"></script>

    <!-- Custom Script -->
    <script rel="stylesheet" type="text/JavaScript" src="/static/js/login.js"></script>
  </body>
  </html>